.login_btn {
  background-color: #3751fe;
  width: 129px;
  height: 54px;
  box-shadow: 0px 4px 3px 0px #00000040;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  border: 1px solid #3751FE
}

.submit_btn {
  background-color: white;
  width: 129px;
  height: 54px;
  box-shadow: 0px 4px 3px 0px #00000040;
  color: #3751fe;
  border: 1px solid #3751fe;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-left: 30px;
}