* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto";
}
:root {
  --header-height: 35px;
  --max-continer-width: 1400px;
}

.main {
  display: flex;
  min-height: 100vh;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5%;
}

.imageWrapper {
  content: "";
  position: absolute;
  width: 50vw;
  height: 100vh;
  right: 0px;
  background: #e5e5e569;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 50%;
  padding-left: 6%;
  padding-right: 5%;
}

.formWrapper {
  height: 510px;
  flex-direction: column;
}

.image_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
}

.formWrapper {
  display: flex;
}

.form_title {
  color: #3751fe;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
}

.content_subtext {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000099;
  padding-bottom: 20px;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .col {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 50%;
    height: 100%;
    position: absolute;
    transform: translateY(16%);
  }

  .form_title {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .content_subtext {
    padding-top: 0px;
    padding-bottom: 35px;
  }

  .imageWrapper {
    width: 100%;
    position: static;
    max-height: 50%;
    height: 100%;
    display: none;
  }

  .header {
    height: 90px;
    position: relative;
    transform: translateX(0%);
    padding-top: 5%;
    left: 0%;
    top: 0%;
  }

  .image {
    display: none;
  }
}
