

.content_wrapper {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #e5e5e569;
}

.content_menu_btn {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  border: none;
  background: none;
  padding-bottom: 3px;
  color: #000000;
  margin-left: 40px;
}

.content_menu_btn:hover {
  border-bottom: 3px solid #0c31f1;
  outline: none;
}

.content_menu_box {
  padding-right: 15.5%;
}