
.form_input {
  height: 70px;
  color: #3751fe;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #c1bbbb;
}

.form_input:focus {
  outline: none;
  padding-left: 15px;
  border-left: 3px solid #3751fe;
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
}

.checkbox_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2.5%;
}

.checkbox_btn {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #0000009c;
  cursor: pointer;
}

.checkbox_wrapper {
  display: flex;
}

.checkbox_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #0000009c;
  padding-left: 5px;
}

.checkbox {
border: 1px solid red;
background: none;
width: 13px;
height: 13px;
}

.btns_wrapper {
    display: flex;
    justify-content: left;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media (max-width: 768px) {
 .form_input {
  margin-bottom: 17px;
}

.checkbox_content {
  padding-top: 5%;
  padding-bottom: 5%;
}

}

